---
version: "2"
services:
  vpn:
    image: akismpa/ovpn
    container_name: vpn
    environment:
      - OVPN_SERVER_CN=yourvpn.server.com
      - LDAP_URI=ldap://yourad.domain.com
      - LDAP_BASE_DN=DC=yourad,DC=domain,DC=com
      - LDAP_BIND_USER_DN=ldapbind
      - LDAP_BIND_USER_PASS=passwordofldapbinduser
      - LDAP_LOGIN_ATTRIBUTE=sAMAccountName
      - LDAP_TLS=true
      - LDAP_TLS_VALIDATE_CERT=false
      - OVPN_NAT=true
      - OVPN_ENABLE_COMPRESSION=false
      - OVPN_DNS_SERVERS=youraddns1,youraddns2
      - OVPN_DNS_SEARCH_DOMAIN=yourad.domain.com
      - OVPN_REGISTER_DNS=true
      - ENABLE_OTP=true
      - FAIL2BAN_ENABLED=true
      - FAIL2BAN_MAXRETRIES=5
    cap_add:
      - NET_ADMIN
    volumes:
      - /hostdirectory:/etc/openvpn
    ports:
      - 1194:1194/udp
    restart: unless-stopped
